@font-face{
    font-family: "Norse Font";
    src: url(fonts/Norse.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    --light-grey-color: #e5e8eb;
    
}



.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);

}

.content-container{
    height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
}

.content-left{
    height: 100vh;
    width: 35%;
    background-color: rgb(51, 161, 84);
    background-image: url(images/photo-1585202900225-6d3ac20a6962.avif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

.logo-container{
    height: 17vh;
    width: 100%;
    margin-top: 20vh;
    top: 20vh;
    
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-container > img{

    padding: 2vh;
    width: auto;
    max-height: 100%;


}

.logo-container > h1{
    color: white;
    font-family: "Norse Font";
    font-size: 4em;
    margin-left: -1vw;
    align-self: center;
    
}

.content-left > h6{

    margin-top: 60vh;
    align-self: center;
    color: white;
}

.content-left > h6 > a{
    color: white;
}

.content-right{
    height: 100vh;
    width: 65%;
    background-color: var(--light-grey-color);
    display: flex;
    flex-direction: column;
}

.top-strip{
    flex: 1.2;
    display: flex;
    flex-direction: column-reverse;
    
}

.top-strip-text{
    padding: 0vh 5vw 5vh 3vw;
    font-size: larger;
    font-weight: bold;
    
}

.top-strip-text :last-child{
    padding-top: 3vh;
}

.centre-strip{
    flex: 1;
    justify-self: center;
    align-content: flex-start;
    padding: 2vh 3vw;
    font-size: large;


    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}

.bottom-strip{
    flex: 1;
}

button{
    margin-top: 4vh;
    margin-left: 3vw;
    background-color: rgb(64, 116, 48);
    font-size: medium;
    font-weight: bold;
    color: white;
    padding: 1.5vh 3vw;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.144);
}

.bottom-strip > h5{
    padding: 2vh 3vw;
}

.bottom-strip > h5 > a{
    color: rgb(64, 116, 48);
}

#user_details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 2vh;
}

#user_details > div{
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    max-width: 10vw;

  
}

#user_details > div > label{
    font-size: x-small;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 0.4vh;
}

#user_details > div > input{
    height: 2.8vh;
    width: 13vw;
    background-color: var(--light-grey-color);
    opacity: 60%;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    padding: 0.2vh 0.5vw;
    outline: none;
    font-size: medium;
}

#user_details > div > input:focus{
    
    
    border-color: #0832be;
    
   
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
}

#user_details > div > input.error{
    border-color: rgb(201, 0, 0);

}

#user_details > div > input.match{
    border-color: rgb(0, 201, 84);

}

#user_details > div > h6{
    color: rgb(201, 0, 0);
    font-weight: lighter;
}